<!--
  Generated template for the OrderDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Order Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row justify-content-center>
    <ion-card col-7>
      <ion-card-header>
        <b>Order {{order?._id}}</b>
      </ion-card-header>
      <ion-card-content>
        <p>Status : {{order?.status}}</p>
        <p>Date : {{order?.date}}</p>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <ion-row justify-content-center>
    <ion-card col-7>
      <ion-card-header>
        <b>Order Content : </b>
      </ion-card-header>
      <ion-card-content *ngIf="order">
        <div *ngFor="let product of order.products">
          <p >{{product}}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <ion-row *ngIf="order.productsToManufacture && order.productsToManufacture.length > 0" justify-content-center>
    <ion-card col-7>
      <ion-card-header>
        <b>Parts being manufactured : </b>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let product of order.productsToManufacture">
        <p >{{product}}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <ion-row justify-content-center>
    <button (click)="changeOrderStatus('Ready for shipping')" *ngIf="currentUser.role === 'warehouse'" ion-button>Mark as manufactured</button>
    <button (click)="changeOrderStatus('In transit')" *ngIf="currentUser.role === 'shipping' && order.status === 'Ready for shipping'" ion-button>Mark as in transit</button>
    <button (click)="changeOrderStatus('Shipped')" *ngIf="currentUser.role === 'shipping' && order.status === 'In transit'" ion-button>Mark as shipped</button>
    <button (click)="changeOrderStatus('Completed')" *ngIf="currentUser.type === 'Shipping Company' && order.status === 'Shipped'" ion-button>Mark as completed</button>
  </ion-row>

</ion-content>
